.contactPage {
  padding-top: 200px;
  padding-bottom: 120px;
  position: relative;
  font-size: 14px;
}
.contactPage .carImg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
  width: 35%;
}
.contactPage .container {
  max-width: 960px;
}
.contactPage .title {
  margin-bottom: 30px;
  font-size: 30px;
}
.contactPage .grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 25px 32px;
  margin-bottom: 25px;
}
.contactPage label {
  margin-bottom: 11px;
  display: block;
}
.contactPage input,
.contactPage textarea {
  background: #f2f3f34b;
}
.contactPage form button {
  max-width: 279px;
  margin: auto;
  margin-right: 0;
  margin-top: 25px;
  border-radius: 10px;
}
.contactPage form {
  margin-bottom: 50px;
}
.contactPage .contact {
  margin-top: 20px;
  flex-wrap: wrap;
}
.contactPage .contact svg {
  color: #fff;
  background: #1b5a65;
  font-size: 22px;
  padding: 5px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 5px;
  margin-right: 10px;
}
.contactPage .contact h6 {
  display: inline-block;
}

@media screen and (max-width: 1400px) {
  .contactPage .carImg {
    top: 81px;
    transform: none;
  }
}
@media screen and (max-width: 850px) {
  .contactPage {
    padding-top: 125px;
    padding-bottom: 60px;
  }
  .contactPage .carImg {
    top: 48px;
  }
  .contactPage .grid {
    gap: 15px 11px;
    margin-bottom: 16px;
  }
}
@media screen and (max-width: 600px) {
  .contactPage .grid {
    grid-template-columns: 1fr;
  }
}
