.paymentPage {
  padding: 160px 0;
  align-items: stretch;
  gap: 20px;
}
.paymentPage .gray_box {
  background: #f2f3f3;
  border-radius: 10px;
  padding: 29px 46px;
  margin-bottom: 20px;
  font-size: 14px;
}
.paymentPage .gray_box.large {
  text-align: center;
  width: 70%;
  padding: 70px;
}
.paymentPage .smalls {
}
.paymentPage .gray_box.large button {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 3px 10px #1a355018;
  width: 400px;
  height: 114px;
  display: block;
  margin: auto;
  margin-bottom: 20px;
}
.paymentPage .gray_box.large button img {
  height: 90%;
  width: auto;
}
.paymentPage .gray_box.large button svg {
  font-size: 30px;
}
.paymentPage .gray_box.large h3 {
  margin-bottom: 40px;
}
.paymentPage .smalls .gray_box h5 {
  margin-bottom: 22px;
}
.paymentPage .gray_box p {
  margin: 20px 0;
}
.paymentPage .gray_box p:last-child {
  margin-bottom: 0;
}
.paymentPage .gray_box .flex {
  margin-bottom: 20px;
}
.paymentPage .gray_box .flex.last {
  border-top: 2px solid #b0c4c749;
  padding-top: 20px;
  margin-bottom: 0;
}
.paymentPage .gray_box .flex.last h5 {
  margin-bottom: 0;
}
@media screen and (max-width: 1000px) {
  .paymentPage {
    flex-direction: column;
  }
  .paymentPage .gray_box.large {
    width: 100%;
  }
  .paymentPage {
    padding: 113px 0;
    gap: 0;
  }
}
@media screen and (max-width: 600px) {
  .paymentPage .gray_box.large {
    padding: 37px;
  }
  .paymentPage .gray_box.large button {
    width: 100%;
    height: 73px;
    margin-bottom: 11px;
  }
  .paymentPage .gray_box {
    padding: 20px 16px;
  }
}
